<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Project Tracker App</title>
</head>
<body>
    <div class="center-align">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">PROJECT TRACKER</span>
              <p></p>
              <span><strong></strong></span>
            </div>
            <!-- <div class="card-action">
              <a href="#">HOME</a>
              <a href="#">SUPPORT</a>
            </div> -->
          </div>
        </div>
      </div>
  <main class="container">
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-info"><%= el.msg %></div>
        <% }) %> <% } %>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control-lg"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control-lg"
              id="exampleInputPassword1"
              name="password"
            />
          </div>
          <button class="btn btn-secondary blue-grey darken-1" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <a href="/" class="btn btn-secondary blue-grey darken-1">Return To Main<i class="material-icons left"></i></a>
        </form>
      </section>
    </div>
  </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" 
    crossorigin="anonymous"></script>   
</body>
</html>